In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../submissions/sk_svm.csv")

In [5]:
df.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01        False

In [4]:
df['Transported'] = df['Transported'].astype(bool)

In [7]:
df.to_csv("../submissions/sk_svm.csv",index=False)